.wrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.label {
    font-weight: 600;
    font-size: 1rem;
    color: #FFFFFF;
}

.select {
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
    border-radius: 0.375rem;
    border: 0.0625rem solid #FFCE24;
    background-color: #FFFFFF;
    color: #001E76;
    cursor: pointer;
}
